In [1]:
import pandas as pd
import numpy as np
import spacy

In [2]:
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [6]:
data=pd.read_csv("twitter4000.csv",encoding="latin1")

In [8]:
data

                                                 twitts  sentiment
0     is bored and wants to watch a movie  any sugge...          0
1              back in miami.  waiting to unboard ship           0
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                     ughhh i am so tired  blahhhhhhhhh          0
4     @mandagoforth me bad! It's funny though. Zacha...          0
...                                                 ...        ...
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

[4000 rows x 2 columns]

In [10]:
#counting the sentiments 0
data["sentiment"].value_counts()

1    2000
0    2000
Name: sentiment, dtype: int64

# **Word count**

In [12]:
data["word_counts"]=data["twitts"].apply(lambda x:len(str(x).split()))

In [13]:
data.sample(5)

                                                 twitts  sentiment  word_counts
1743  dear@onicajay please come tomorrow, to the mov...          0           10
289   Well no linen 4 me 2day  put the capri's on &a...          0           29
3700  no one's happy. :/ there's so many people out ...          1           22
1440  @juderivera yup.. i hear you.. i hate it mysel...          0           14
1277     Wishes blackberry had as many apps as iphone!           0            8

In [16]:
data["word_counts"].max(),data["word_counts"].min(),data[data["word_counts"]==1]

(32, 1,                                twitts  sentiment  word_counts
 385                         homework           0            1
 691                         @ekrelly           0            1
 1124                    disappointed           0            1
 1286                 @officialmgnfox           0            1
 1325                        headache           0            1
 1897                      @MCRmuffin           0            1
 2542                      Graduated!           1            1
 2947                         reading           1            1
 3176                    @omeirdeleon           1            1
 3470  www.myspace.com/myfinalthought           1            1
 3966                        @gethyp3           1            1)

**Characters Count**

In [19]:
def char_count(x):
  s=x.split()
  x="".join(s)
  return len(x)

In [20]:
data["char_count"]=data["twitts"].apply(lambda x:char_count(str(x)))

In [21]:
data.sample(5)

                                                 twitts  ...  char_count
1587  @kirstiealley i just had one of those yesteday...  ...          64
2454  is impatiently waiting for her little sister t...  ...          48
1094                             want to play bfheroes   ...          18
372               @caityluvsyuu no,,,, i dont think so   ...          31
1141              @edythemighty sorry your dog is sick   ...          31

[5 rows x 4 columns]

### Average Word length

In [23]:
#character per word 
data["avg_word_len"]=data["char_count"]/data["word_counts"]

In [24]:
data.sample(5)

                                                 twitts  ...  avg_word_len
6     @kevinmarquis haha yep but i really need to sl...  ...      4.272727
3820  tweet 1212 goes to @paolagarin  cuz she's nutz...  ...      4.538462
2786     @OneNil same thing. as long as there's words.   ...      4.750000
3815  @stoberitrixie it means, hey there! o kaya sup...  ...      4.523810
3962  @DavidArchie Our local shows love tributes too...  ...      5.105263

[5 rows x 5 columns]

### **Stop words count**

In [28]:
#stop words(words which are occur very frequently)
len(stopwords)

326

In [29]:
print(stopwords)

{'neither', 'which', 'forty', 'around', 'that', 'really', 'us', 'â€™m', 'been', 'wherever', 'almost', 'anyhow', 'nâ€˜t', 'who', "'ve", 'enough', 'be', 'when', 'regarding', 'if', 'only', 'whether', 'before', 'other', 'this', 'anything', 'more', 'unless', 'otherwise', 'whole', 'had', 'â€˜s', 'where', 'some', 'you', 'me', 'using', 'over', 'nine', 'back', 'twenty', 'own', 'must', 'may', 'on', 'serious', 'anywhere', 'about', 'thereby', 'among', 'show', 'others', 'might', 'used', 'become', 'can', 'due', 'whence', 'with', 'after', 'get', 'three', 'his', 'done', 'although', 'seems', 'indeed', 'below', 'two', 'formerly', 'will', 'seem', 'empty', 'an', 'eleven', 'and', 'something', 'ever', 'their', 'nobody', 'former', 'per', 'thereafter', 'now', 'being', 'everything', 'seemed', 'none', 'together', 'also', 'whereafter', 'just', "'re", 'one', 'see', 'everywhere', 'seeming', 'could', 'already', 'itself', 'too', 'why', 'meanwhile', 'i', 'whereas', 'fifteen', 'through', 'often', 'five', 'yet', 'call', 'its', 'elsewhere', 'a', 'say', 'sometime', 'always', 'them', 'whose', 'of', 'are', 'thru', 'am', 'make', 'â€˜ll', 'at', 'name', 'without', 'those', 'the', 'nowhere', 'we', 'toward', 'thereupon', 'across', 'hers', 'much', 'under', 'â€™re', 'above', 'along', 'next', 'against', 'fifty', 'upon', 'mostly', 'should', 'whereby', 'last', 'between', 'off', 'your', 'noone', 'latterly', 'even', 'all', 'never', 'nâ€™t', 'ours', 'hereupon', 'thus', 'twelve', 'â€˜d', 'mine', 'in', 'nor', 'eight', 'latter', 'or', 'once', "'s", 'ourselves', 'via', 'sixty', 'somehow', 'moreover', 'for', 'quite', 'no', 'there', 'beforehand', 'either', 'else', 'nevertheless', "'d", 'becoming', 'it', 'such', 'front', 'out', 'our', 'part', 'whereupon', 'yourself', 'would', 'were', 'same', 'ca', 'amongst', 'besides', 'hereby', 'from', 'what', 'whom', 'full', 'top', 'still', 'most', 'whoever', 'down', 'because', 'my', 'yours', 'side', 'therein', 'her', 'bottom', 'â€˜ve', 'than', 'up', 'third', 'beyond', 'each', 'yourselves', 'how', 'however', 'somewhere', 'thence', "'m", 'not', 'until', 'further', 'few', 'has', 'wherein', 'rather', 'ten', 'throughout', 'keep', 'becomes', 'hereafter', 'again', 'do', 'â€˜m', 'within', 'nothing', 'please', 'therefore', 'whither', 'she', 'well', 'since', 'into', 'put', 'go', 'to', 'did', 're', 'cannot', 'hence', 'â€™d', 'someone', 'â€™ve', 'less', 'whenever', 'various', 'â€˜re', 'any', 'during', 'then', 'does', 'while', 'hundred', 'himself', 'â€™ll', 'anyone', 'here', 'another', 'these', 'four', 'take', 'by', 'beside', 'towards', 'alone', 'became', 'â€™s', 'behind', 'was', 'afterwards', 'anyway', 'very', 'he', 'give', 'they', 'whatever', 'though', 'made', 'sometimes', 'as', 'so', "n't", 'many', 'except', 'themselves', 'myself', 'several', 'both', 'have', 'amount', "'ll", 'first', 'six', 'perhaps', 'everyone', 'least', 'doing', 'herself', 'is', 'onto', 'herein', 'namely', 'but', 'every', 'him', 'move'}

In [32]:
data["stop_word_len"]=data["twitts"].apply(lambda x:len([t for t in x.split() if t in stopwords]))

In [33]:
data.sample(5)

                                                 twitts  ...  stop_word_len
1745  @kappaomicron: why? i didn't go for what i wan...  ...              6
2384  @EmpressEricka That I'm trying to get invited ...  ...             12
160   In the vets for Millies' check up. The cat ain...  ...              2
1912  My girl wants me to start wearing t shirts to ...  ...              8
742                    At the train station. It's cold   ...              1

[5 rows x 6 columns]

**Count #HashTags and @ Mention**

In [37]:
data["Hashtags_count"]=data["twitts"].apply(lambda x:len([t for t in x.split() if t.startswith("#")]))
data["mentions_count"]=data["twitts"].apply(lambda x:len([t for t in x.split() if t.startswith("@")]))

In [38]:
data.sample(5)

                                                 twitts  ...  mentions_count
2276  @hibiscuit any of your decisions is a good one...  ...               1
3107  @danceoffmychest watchng that one dies every w...  ...               1
1006  done tweeting for the night. gonna watch the r...  ...               0
618       I've got to go. My sista wants the computer.   ...               0
21                              what is up with my hip   ...               0

[5 rows x 9 columns]

**If numeric digits present in twitts**

In [41]:
data["numeric_count"]=data["twitts"].apply(lambda x: len([ t for t in x .split() if t.isdigit() ]))

In [42]:
data.sample(5)

                                                 twitts  ...  numeric_count
3753  @MegDen Thank you 'Momma Meg'...cupcakes were ...  ...              0
1155  @MissTiffy  it was jus a coincidence then LOL....  ...              0
3631       Decided to finally jump on the Twitter bus!   ...              0
202   @PennyParnevik i m asking myself the same ques...  ...              0
678   Been teaching when all I want to do is sleep  ...  ...              0

[5 rows x 10 columns]

**Upper case words**

In [43]:
data["upper_word_counts"]=data["twitts"].apply(lambda x:len([ t for t in x.split() if t.isupper()]))

In [44]:
data.sample(5)

                                                 twitts  ...  upper_word_counts
663   Root canal at 1530   ugh! Doc promised that it...  ...                  3
3042  @James_Phelps I won't take to much.. shopping ...  ...                  1
3246  @liamvickery dude, thanks for the #followfrida...  ...                  0
3786               @JPatrickDowning try Price Cutters.   ...                  0
1803                                I missssss my baby   ...                  1

[5 rows x 11 columns]

**Lower Case Conversion**

In [48]:
#Normalization
data["twitts"]=data["twitts"].apply(lambda x:str(x).lower())

In [49]:
data.sample(5)

                                                 twitts  ...                                             twiits
3601  travel blog up and running!  http://charlenedi...  ...  travel blog up and running!  http://charlenedi...
2489  @scottieb87 lol ouch!!!!!  my feelings would b...  ...  @scottieb87 lol ouch!!!!!  my feelings would b...
2958                                 @pr_trice will do   ...                                 @pr_trice will do
3969                                just got twitter..   ...                                just got twitter..
2672                                   ok, time to fly   ...                                   ok, time to fly

[5 rows x 12 columns]

**Count  and Remove Emails**

In [53]:
data[data["twitts"].str.contains("hotmail.com")]

                                                 twitts  ...                                             twiits
3713  @securerecs arghh me please  markbradbury_16@h...  ...  @securerecs arghh me please  markbradbury_16@h...

[1 rows x 12 columns]

In [57]:
import re

In [58]:
data.iloc[3713]["twitts"]

'@securerecs arghh me please  markbradbury_16@hotmail.com'

In [59]:
x="@securerecs arghh me please  markbradbury_16@hotmail.com"

In [66]:
re.findall(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)',x)

['markbradbury_16@hotmail.com']

In [67]:
data["emails"]=data["twitts"].apply(lambda x:re.findall(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+\b)',x))

In [68]:
data["emails_counts"]=data["emails"].apply(lambda x:len(x))

In [69]:
# only on email
data[data["emails_counts"]>0]

                                                 twitts  ...  emails_counts
3713  @securerecs arghh me please  markbradbury_16@h...  ...              1

[1 rows x 14 columns]

In [70]:
re.sub(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)',"",x)

'@securerecs arghh me please  '

In [72]:
#remove all emails
data["twitts"]=data["twitts"].apply(lambda x:re.sub(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+\b)',"",x))

In [73]:
data[data["emails_counts"]>0]
#No emails data

                             twitts  ...  emails_counts
3713  @securerecs arghh me please    ...              1

[1 rows x 14 columns]